#yt-container{
	//max-width: 500px;
	padding: 15px;
	//margin: 0 auto;
	//input {
	//	margin: 5px 0;
	//}
	.yt-input-group{
		margin-bottom: 10px;
	}
}



.yt-collection{
	padding-left: 0;
	list-style: none;
}
